<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
    <link rel="stylesheet" href="/css/root.css">
</head>
<body>
<div class="container">
    <div class="welcome-container">
        <h1>Добро пожаловать в Mbook!</h1>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item m-2">
            <a class="btn btn-primary" href="/books" role="button">Список Книг</a>
        </li>
        <li class="nav-item m-2">
            <a class="btn btn-primary" href="/employees" role="button">Список сотрудников</a>
        </li>
        <li class="nav-item m-2">
            <a class="btn btn-primary" href="/login" role="button">Войти</a>
        </li>
    </ul>
</div>

<div class="container rules-container">
    <details>
        <summary>Список правил</summary>
        <ul>
            <li>Книги могут брать только авторизованные сотрудники</li>
            <li>Всегда записывайтесь в журнал о выдаче и возврате книг</li>
            <li>Будьте вежливы и уважительны к другим пользователям</li>
            <li>Не больше двух книг в одни руки</li>
            <li>Своевременно возвращать книги</li>
        </ul>
    </details>
</div>
</body>
</html>